[submodule "Assets/Shaders/skin-hair-shaders"]
	path = Assets/Shaders/skin-hair-shaders
	url = https://github.com/idClip42/skin-hair-shaders.git
[submodule "Assets/Shaders/fur-shader"]
	path = Assets/Shaders/fur-shader
	url = https://github.com/idClip42/fur-shader.git
